@model My.World.Web.ViewModel.TechnologiesViewModel

@{
    ViewData["Title"] = "ViewTechnologies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Technologies / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Technologie</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.technologiesModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="technologiesModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="technologiesModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="technologiesModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setCharactersBody() {
		    html = htmlDecode('@Model.technologiesModel.Characters');
		    $('#Characters').append(html);
		};

		function setChild_technologiesBody() {
		    html = htmlDecode('@Model.technologiesModel.Child_technologies');
		    $('#Child_technologies').append(html);
		};

		function setColorsBody() {
		    html = htmlDecode('@Model.technologiesModel.Colors');
		    $('#Colors').append(html);
		};

		function setCostBody() {
		    $('#technologiesModel_Cost').val('@Model.technologiesModel.Cost');
		};

		function setCountriesBody() {
		    html = htmlDecode('@Model.technologiesModel.Countries');
		    $('#Countries').append(html);
		};

		function setCreaturesBody() {
		    html = htmlDecode('@Model.technologiesModel.Creatures');
		    $('#Creatures').append(html);
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.technologiesModel.Description');
		    $('#Description').append(html);
		};

		function setGroupsBody() {
		    html = htmlDecode('@Model.technologiesModel.Groups');
		    $('#Groups').append(html);
		};

		function setHow_It_WorksBody() {
		    html = htmlDecode('@Model.technologiesModel.How_It_Works');
		    $('#How_It_Works').append(html);
		};

		function setMagic_effectsBody() {
		    html = htmlDecode('@Model.technologiesModel.Magic_effects');
		    $('#Magic_effects').append(html);
		};

		function setManufacturing_ProcessBody() {
		    html = htmlDecode('@Model.technologiesModel.Manufacturing_Process');
		    $('#Manufacturing_Process').append(html);
		};

		function setMaterialsBody() {
		    html = htmlDecode('@Model.technologiesModel.Materials');
		    $('#Materials').append(html);
		};

		function setNameBody() {
		    $('#technologiesModel_Name').val('@Model.technologiesModel.Name');
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.technologiesModel.Notes');
		    $('#Notes').append(html);
		};

		function setOther_NamesBody() {
		    html = htmlDecode('@Model.technologiesModel.Other_Names');
		    $('#Other_Names').append(html);
		};

		function setParent_technologiesBody() {
		    html = htmlDecode('@Model.technologiesModel.Parent_technologies');
		    $('#Parent_technologies').append(html);
		};

		function setPhysical_DescriptionBody() {
		    html = htmlDecode('@Model.technologiesModel.Physical_Description');
		    $('#Physical_Description').append(html);
		};

		function setPlanetsBody() {
		    html = htmlDecode('@Model.technologiesModel.Planets');
		    $('#Planets').append(html);
		};

		function setPrivate_NotesBody() {
		    html = htmlDecode('@Model.technologiesModel.Private_Notes');
		    $('#Private_Notes').append(html);
		};

		function setPurposeBody() {
		    html = htmlDecode('@Model.technologiesModel.Purpose');
		    $('#Purpose').append(html);
		};

		function setRarityBody() {
		    html = htmlDecode('@Model.technologiesModel.Rarity');
		    $('#Rarity').append(html);
		};

		function setRelated_technologiesBody() {
		    html = htmlDecode('@Model.technologiesModel.Related_technologies');
		    $('#Related_technologies').append(html);
		};

		function setResources_UsedBody() {
		    html = htmlDecode('@Model.technologiesModel.Resources_Used');
		    $('#Resources_Used').append(html);
		};

		function setSales_ProcessBody() {
		    html = htmlDecode('@Model.technologiesModel.Sales_Process');
		    $('#Sales_Process').append(html);
		};

		function setSizeBody() {
		    $('#technologiesModel_Size').val('@Model.technologiesModel.Size');
		};

		function setTagsBody() {
		    html = htmlDecode('@Model.technologiesModel.Tags');
		    $('#Tags').append(html);
		};

		function setTownsBody() {
		    html = htmlDecode('@Model.technologiesModel.Towns');
		    $('#Towns').append(html);
		};

		function setUniverseBody() {
		    $('#technologiesModel_Universe').val('@Model.technologiesModel.Universe');
		};

		function setWeightBody() {
		    $('#technologiesModel_Weight').val('@Model.technologiesModel.Weight');
		};



        $(document).ready(function () {
			setCharactersBody();
			setChild_technologiesBody();
			setColorsBody();
			setCostBody();
			setCountriesBody();
			setCreaturesBody();
			setDescriptionBody();
			setGroupsBody();
			setHow_It_WorksBody();
			setMagic_effectsBody();
			setManufacturing_ProcessBody();
			setMaterialsBody();
			setNameBody();
			setNotesBody();
			setOther_NamesBody();
			setParent_technologiesBody();
			setPhysical_DescriptionBody();
			setPlanetsBody();
			setPrivate_NotesBody();
			setPurposeBody();
			setRarityBody();
			setRelated_technologiesBody();
			setResources_UsedBody();
			setSales_ProcessBody();
			setSizeBody();
			setTagsBody();
			setTownsBody();
			setWeightBody();

        });

    </script>
}