@model My.World.Web.ViewModel.FlorasViewModel

@{
    ViewData["Title"] = "ViewFloras";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Floras / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Flora</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.florasModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="florasModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="florasModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="florasModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setTagsBody() {
		    html = htmlDecode('@Model.florasModel.Tags');
		    $('#Tags').append(html);
		};

		function setUniverseBody() {
		    $('#florasModel_Universe').val('@Model.florasModel.Universe');
		};

		function setNameBody() {
		    $('#florasModel_Name').val('@Model.florasModel.Name');
		};

		function setOther_NamesBody() {
		    html = htmlDecode('@Model.florasModel.Other_Names');
		    $('#Other_Names').append(html);
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.florasModel.Description');
		    $('#Description').append(html);
		};

		function setOrderBody() {
		    html = htmlDecode('@Model.florasModel.Order');
		    $('#Order').append(html);
		};

		function setRelated_floraBody() {
		    html = htmlDecode('@Model.florasModel.Related_flora');
		    $('#Related_flora').append(html);
		};

		function setGenusBody() {
		    html = htmlDecode('@Model.florasModel.Genus');
		    $('#Genus').append(html);
		};

		function setFamilyBody() {
		    html = htmlDecode('@Model.florasModel.Family');
		    $('#Family').append(html);
		};

		function setSizeBody() {
		    html = htmlDecode('@Model.florasModel.Size');
		    $('#Size').append(html);
		};

		function setSmellBody() {
		    html = htmlDecode('@Model.florasModel.Smell');
		    $('#Smell').append(html);
		};

		function setTasteBody() {
		    html = htmlDecode('@Model.florasModel.Taste');
		    $('#Taste').append(html);
		};

		function setColoringsBody() {
		    html = htmlDecode('@Model.florasModel.Colorings');
		    $('#Colorings').append(html);
		};

		function setFruitsBody() {
		    html = htmlDecode('@Model.florasModel.Fruits');
		    $('#Fruits').append(html);
		};

		function setMagical_effectsBody() {
		    html = htmlDecode('@Model.florasModel.Magical_effects');
		    $('#Magical_effects').append(html);
		};

		function setMaterial_usesBody() {
		    html = htmlDecode('@Model.florasModel.Material_uses');
		    $('#Material_uses').append(html);
		};

		function setMedicinal_purposesBody() {
		    html = htmlDecode('@Model.florasModel.Medicinal_purposes');
		    $('#Medicinal_purposes').append(html);
		};

		function setBerriesBody() {
		    html = htmlDecode('@Model.florasModel.Berries');
		    $('#Berries').append(html);
		};

		function setNutsBody() {
		    html = htmlDecode('@Model.florasModel.Nuts');
		    $('#Nuts').append(html);
		};

		function setSeedsBody() {
		    html = htmlDecode('@Model.florasModel.Seeds');
		    $('#Seeds').append(html);
		};

		function setSeasonalityBody() {
		    html = htmlDecode('@Model.florasModel.Seasonality');
		    $('#Seasonality').append(html);
		};

		function setLocationsBody() {
		    html = htmlDecode('@Model.florasModel.Locations');
		    $('#Locations').append(html);
		};

		function setReproductionBody() {
		    html = htmlDecode('@Model.florasModel.Reproduction');
		    $('#Reproduction').append(html);
		};

		function setEaten_byBody() {
		    html = htmlDecode('@Model.florasModel.Eaten_by');
		    $('#Eaten_by').append(html);
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.florasModel.Notes');
		    $('#Notes').append(html);
		};

		function setPrivate_NotesBody() {
		    html = htmlDecode('@Model.florasModel.Private_Notes');
		    $('#Private_Notes').append(html);
		};



        $(document).ready(function () {
			setTagsBody();
			setNameBody();
			setOther_NamesBody();
			setDescriptionBody();
			setOrderBody();
			setRelated_floraBody();
			setGenusBody();
			setFamilyBody();
			setSizeBody();
			setSmellBody();
			setTasteBody();
			setColoringsBody();
			setFruitsBody();
			setMagical_effectsBody();
			setMaterial_usesBody();
			setMedicinal_purposesBody();
			setBerriesBody();
			setNutsBody();
			setSeedsBody();
			setSeasonalityBody();
			setLocationsBody();
			setReproductionBody();
			setEaten_byBody();
			setNotesBody();
			setPrivate_NotesBody();

        });

    </script>
}