@model My.World.Web.ViewModel.LandmarksViewModel

@{
    ViewData["Title"] = "ViewLandmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Landmarks / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Landmark</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.landmarksModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="landmarksModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="landmarksModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="landmarksModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setColorsBody() {
		    html = htmlDecode('@Model.landmarksModel.Colors');
		    $('#Colors').append(html);
		};

		function setCountryBody() {
		    html = htmlDecode('@Model.landmarksModel.Country');
		    $('#Country').append(html);
		};

		function setCreation_storyBody() {
		    html = htmlDecode('@Model.landmarksModel.Creation_story');
		    $('#Creation_story').append(html);
		};

		function setCreaturesBody() {
		    html = htmlDecode('@Model.landmarksModel.Creatures');
		    $('#Creatures').append(html);
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.landmarksModel.Description');
		    $('#Description').append(html);
		};

		function setEstablished_yearBody() {
		    $('#landmarksModel_Established_year').val('@Model.landmarksModel.Established_year');
		};

		function setFloraBody() {
		    html = htmlDecode('@Model.landmarksModel.Flora');
		    $('#Flora').append(html);
		};

		function setMaterialsBody() {
		    html = htmlDecode('@Model.landmarksModel.Materials');
		    $('#Materials').append(html);
		};

		function setNameBody() {
		    $('#landmarksModel_Name').val('@Model.landmarksModel.Name');
		};

		function setNearby_townsBody() {
		    html = htmlDecode('@Model.landmarksModel.Nearby_towns');
		    $('#Nearby_towns').append(html);
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.landmarksModel.Notes');
		    $('#Notes').append(html);
		};

		function setOther_NamesBody() {
		    html = htmlDecode('@Model.landmarksModel.Other_Names');
		    $('#Other_Names').append(html);
		};

		function setPrivate_NotesBody() {
		    html = htmlDecode('@Model.landmarksModel.Private_Notes');
		    $('#Private_Notes').append(html);
		};

		function setSizeBody() {
		    $('#landmarksModel_Size').val('@Model.landmarksModel.Size');
		};

		function setTagsBody() {
		    html = htmlDecode('@Model.landmarksModel.Tags');
		    $('#Tags').append(html);
		};

		function setType_of_landmarkBody() {
		    html = htmlDecode('@Model.landmarksModel.Type_of_landmark');
		    $('#Type_of_landmark').append(html);
		};

		function setUniverseBody() {
		    $('#landmarksModel_Universe').val('@Model.landmarksModel.Universe');
		};



        $(document).ready(function () {
			setColorsBody();
			setCountryBody();
			setCreation_storyBody();
			setCreaturesBody();
			setDescriptionBody();
			setEstablished_yearBody();
			setFloraBody();
			setMaterialsBody();
			setNameBody();
			setNearby_townsBody();
			setNotesBody();
			setOther_NamesBody();
			setPrivate_NotesBody();
			setSizeBody();
			setTagsBody();
			setType_of_landmarkBody();

        });

    </script>
}