@model My.World.Web.ViewModel.GroupsViewModel

@{
    ViewData["Title"] = "ViewGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Groups / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Group</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.groupsModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="groupsModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="groupsModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="groupsModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setTagsBody() {
		    html = htmlDecode('@Model.groupsModel.Tags');
		    $('#Tags').append(html);
		};

		function setUniverseBody() {
		    $('#groupsModel_Universe').val('@Model.groupsModel.Universe');
		};

		function setOther_NamesBody() {
		    html = htmlDecode('@Model.groupsModel.Other_Names');
		    $('#Other_Names').append(html);
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.groupsModel.Description');
		    $('#Description').append(html);
		};

		function setNameBody() {
		    $('#groupsModel_Name').val('@Model.groupsModel.Name');
		};

		function setSubgroupsBody() {
		    html = htmlDecode('@Model.groupsModel.Subgroups');
		    $('#Subgroups').append(html);
		};

		function setSupergroupsBody() {
		    html = htmlDecode('@Model.groupsModel.Supergroups');
		    $('#Supergroups').append(html);
		};

		function setSistergroupsBody() {
		    html = htmlDecode('@Model.groupsModel.Sistergroups');
		    $('#Sistergroups').append(html);
		};

		function setOrganization_structureBody() {
		    html = htmlDecode('@Model.groupsModel.Organization_structure');
		    $('#Organization_structure').append(html);
		};

		function setLeadersBody() {
		    html = htmlDecode('@Model.groupsModel.Leaders');
		    $('#Leaders').append(html);
		};

		function setCreaturesBody() {
		    html = htmlDecode('@Model.groupsModel.Creatures');
		    $('#Creatures').append(html);
		};

		function setMembersBody() {
		    html = htmlDecode('@Model.groupsModel.Members');
		    $('#Members').append(html);
		};

		function setOfficesBody() {
		    html = htmlDecode('@Model.groupsModel.Offices');
		    $('#Offices').append(html);
		};

		function setLocationsBody() {
		    html = htmlDecode('@Model.groupsModel.Locations');
		    $('#Locations').append(html);
		};

		function setHeadquartersBody() {
		    html = htmlDecode('@Model.groupsModel.Headquarters');
		    $('#Headquarters').append(html);
		};

		function setMotivationsBody() {
		    html = htmlDecode('@Model.groupsModel.Motivations');
		    $('#Motivations').append(html);
		};

		function setTraditionsBody() {
		    html = htmlDecode('@Model.groupsModel.Traditions');
		    $('#Traditions').append(html);
		};

		function setRisksBody() {
		    html = htmlDecode('@Model.groupsModel.Risks');
		    $('#Risks').append(html);
		};

		function setObstaclesBody() {
		    html = htmlDecode('@Model.groupsModel.Obstacles');
		    $('#Obstacles').append(html);
		};

		function setGoalsBody() {
		    html = htmlDecode('@Model.groupsModel.Goals');
		    $('#Goals').append(html);
		};

		function setClientsBody() {
		    html = htmlDecode('@Model.groupsModel.Clients');
		    $('#Clients').append(html);
		};

		function setAlliesBody() {
		    html = htmlDecode('@Model.groupsModel.Allies');
		    $('#Allies').append(html);
		};

		function setEnemiesBody() {
		    html = htmlDecode('@Model.groupsModel.Enemies');
		    $('#Enemies').append(html);
		};

		function setRivalsBody() {
		    html = htmlDecode('@Model.groupsModel.Rivals');
		    $('#Rivals').append(html);
		};

		function setSuppliersBody() {
		    html = htmlDecode('@Model.groupsModel.Suppliers');
		    $('#Suppliers').append(html);
		};

		function setInventoryBody() {
		    html = htmlDecode('@Model.groupsModel.Inventory');
		    $('#Inventory').append(html);
		};

		function setEquipmentBody() {
		    html = htmlDecode('@Model.groupsModel.Equipment');
		    $('#Equipment').append(html);
		};

		function setKey_itemsBody() {
		    html = htmlDecode('@Model.groupsModel.Key_items');
		    $('#Key_items').append(html);
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.groupsModel.Notes');
		    $('#Notes').append(html);
		};

		function setPrivate_notesBody() {
		    html = htmlDecode('@Model.groupsModel.Private_notes');
		    $('#Private_notes').append(html);
		};



        $(document).ready(function () {
			setTagsBody();
			setOther_NamesBody();
			setDescriptionBody();
			setNameBody();
			setSubgroupsBody();
			setSupergroupsBody();
			setSistergroupsBody();
			setOrganization_structureBody();
			setLeadersBody();
			setCreaturesBody();
			setMembersBody();
			setOfficesBody();
			setLocationsBody();
			setHeadquartersBody();
			setMotivationsBody();
			setTraditionsBody();
			setRisksBody();
			setObstaclesBody();
			setGoalsBody();
			setClientsBody();
			setAlliesBody();
			setEnemiesBody();
			setRivalsBody();
			setSuppliersBody();
			setInventoryBody();
			setEquipmentBody();
			setKey_itemsBody();
			setNotesBody();
			setPrivate_notesBody();

        });

    </script>
}