@model My.World.Web.ViewModel.TraditionsViewModel

@{
    ViewData["Title"] = "ViewTraditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Traditions / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Tradition</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.traditionsModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="traditionsModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="traditionsModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="traditionsModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setUniverseBody() {
		    $('#traditionsModel_Universe').val('@Model.traditionsModel.Universe');
		};

		function setAlternate_namesBody() {
		    html = htmlDecode('@Model.traditionsModel.Alternate_names');
		    $('#Alternate_names').append(html);
		};

		function setTagsBody() {
		    html = htmlDecode('@Model.traditionsModel.Tags');
		    $('#Tags').append(html);
		};

		function setNameBody() {
		    $('#traditionsModel_Name').val('@Model.traditionsModel.Name');
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.traditionsModel.Description');
		    $('#Description').append(html);
		};

		function setType_of_traditionBody() {
		    html = htmlDecode('@Model.traditionsModel.Type_of_tradition');
		    $('#Type_of_tradition').append(html);
		};

		function setCountriesBody() {
		    html = htmlDecode('@Model.traditionsModel.Countries');
		    $('#Countries').append(html);
		};

		function setDatesBody() {
		    html = htmlDecode('@Model.traditionsModel.Dates');
		    $('#Dates').append(html);
		};

		function setGroupsBody() {
		    html = htmlDecode('@Model.traditionsModel.Groups');
		    $('#Groups').append(html);
		};

		function setTownsBody() {
		    html = htmlDecode('@Model.traditionsModel.Towns');
		    $('#Towns').append(html);
		};

		function setGiftsBody() {
		    html = htmlDecode('@Model.traditionsModel.Gifts');
		    $('#Gifts').append(html);
		};

		function setFoodBody() {
		    html = htmlDecode('@Model.traditionsModel.Food');
		    $('#Food').append(html);
		};

		function setSymbolismBody() {
		    html = htmlDecode('@Model.traditionsModel.Symbolism');
		    $('#Symbolism').append(html);
		};

		function setGamesBody() {
		    html = htmlDecode('@Model.traditionsModel.Games');
		    $('#Games').append(html);
		};

		function setActivitiesBody() {
		    html = htmlDecode('@Model.traditionsModel.Activities');
		    $('#Activities').append(html);
		};

		function setEtymologyBody() {
		    html = htmlDecode('@Model.traditionsModel.Etymology');
		    $('#Etymology').append(html);
		};

		function setOriginBody() {
		    html = htmlDecode('@Model.traditionsModel.Origin');
		    $('#Origin').append(html);
		};

		function setSignificanceBody() {
		    html = htmlDecode('@Model.traditionsModel.Significance');
		    $('#Significance').append(html);
		};

		function setReligionsBody() {
		    html = htmlDecode('@Model.traditionsModel.Religions');
		    $('#Religions').append(html);
		};

		function setNotable_eventsBody() {
		    html = htmlDecode('@Model.traditionsModel.Notable_events');
		    $('#Notable_events').append(html);
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.traditionsModel.Notes');
		    $('#Notes').append(html);
		};

		function setPrivate_NotesBody() {
		    html = htmlDecode('@Model.traditionsModel.Private_Notes');
		    $('#Private_Notes').append(html);
		};



        $(document).ready(function () {
			setAlternate_namesBody();
			setTagsBody();
			setNameBody();
			setDescriptionBody();
			setType_of_traditionBody();
			setCountriesBody();
			setDatesBody();
			setGroupsBody();
			setTownsBody();
			setGiftsBody();
			setFoodBody();
			setSymbolismBody();
			setGamesBody();
			setActivitiesBody();
			setEtymologyBody();
			setOriginBody();
			setSignificanceBody();
			setReligionsBody();
			setNotable_eventsBody();
			setNotesBody();
			setPrivate_NotesBody();

        });

    </script>
}