@model My.World.Web.ViewModel.ReligionsViewModel

@{
    ViewData["Title"] = "ViewReligions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Religions / View";
}


<style>
    .editorNative {
        min-height: 2em;
        overflow-y: scroll;
        max-height: 12em;
        max-width: 50em;
        margin: 0;
        margin-bottom: 2px;
        padding: 1px 0;
        color: black;
        font-weight: 400;
        font-size: 1.125rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2rem;
        background: white;
    }
</style>
<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Religion</strong> Details</div>
                            <div class="card-body">
                               <div class="align-items-start">
                                    <div class="tab-content">
                                        @foreach (var cat in Model.ContentTemplate.categories.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";
                                            if (cat.Attributes != null && cat.Attributes.Count > 0)
                                            {
                                                <div id="@panelName">
                                                    <div class="card">
                                                        <div class="card-header d-flex justify-content-between align-items-center" style="background:@Model.headerBackgroundColor">
                                                            <span>@cat.Label</span>
                                                            <span>@Html.Raw(@cat.Icon)</span>
                                                        </div>
                                                        <div class="card-body" style="padding:10px;">
                                                            @foreach (var att in cat.Attributes)
                                                            {
                                                                if (att.is_active)
                                                                {
                                                                    <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">@att.field_label</label>
                                                                        <div class="col-md-9">
                                                                            @if (att.field_name.ToLower() != "name" && att.field_type.In(new List<string>() { "binary", "varbinary", "tinyblob", "blob", "mediumblob", "longblob", "char byte", "char", "varchar", "tinytext", "text", "mediumtext", "longtext", "set", "enum", "nchar", "national char", "nvarchar", "national varchar", "character varying" }))
                                                                            {
                                                                                <div id="@att.field_name" class="form-control editorNative"></div>
                                                                            }
                                                                            else if (att.field_name.ToLower() == "universe")
                                                                            {
                                                                                <select id="ddlUniverseList" class="form-control" style="min-width:150px" disabled
                                                                                        asp-items="@(new SelectList(@Model.UniversesList, "id", "name", Model.religionsModel.Universe))">
                                                                                </select>
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "int", "integer", "smallint unsigned", "mediumint", "bigint", "int unsigned", "integer unsigned", "bit" }))
                                                                            {
                                                                                <input id="religionsModel_@att.field_name" class="form-control" type="number" readonly />
                                                                            }
                                                                            else if (att.field_type.In(new List<string>() { "tinyint" }))
                                                                            {
                                                                                <input id="religionsModel_@att.field_name" class="form-control" type="checkbox" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="religionsModel_@att.field_name" class="form-control" readonly />

                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var cat in Model.ContentTemplate.references.OrderBy(o => o.Order))
                                        {
                                            var active_class = cat.Order == 1 ? "active" : "";
                                            var panelName = cat.Label + "_panel";

                                            <div id="@panelName">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center" style="background:cadetblue">
                                                        <span>@cat.Label</span>
                                                        <span>@Html.Raw(@cat.Icon)</span>
                                                    </div>
                                                    <div class="card-body" style="padding:10px;">
                                                        @foreach (var att in cat.Attributes)
                                                        {
                                                            if (att.is_active)
                                                            {
                                                                if (att.field_name.ToLower() == "gallery")
                                                                {
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Uploaded Images</label>

                                                                        <div class="row">
                                                                            @foreach (var contentObject in Model.ContentObjectModelList)
                                                                            {
                                                                                <div class="card-img" style="width: 18rem;margin-right: 1.5rem;">
                                                                                    <div class="card-body img-container" style="height: 265px;background: url('@contentObject.file_url');background-size: cover;">                                                                                                                                                                              
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>                                                                   
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
							</div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {
   
    <script type="text/javascript">
    
		function setArtifactsBody() {
		    html = htmlDecode('@Model.religionsModel.Artifacts');
		    $('#Artifacts').append(html);
		};

		function setDeitiesBody() {
		    html = htmlDecode('@Model.religionsModel.Deities');
		    $('#Deities').append(html);
		};

		function setDescriptionBody() {
		    html = htmlDecode('@Model.religionsModel.Description');
		    $('#Description').append(html);
		};

		function setHolidaysBody() {
		    html = htmlDecode('@Model.religionsModel.Holidays');
		    $('#Holidays').append(html);
		};

		function setInitiation_processBody() {
		    html = htmlDecode('@Model.religionsModel.Initiation_process');
		    $('#Initiation_process').append(html);
		};

		function setNameBody() {
		    $('#religionsModel_Name').val('@Model.religionsModel.Name');
		};

		function setNotable_figuresBody() {
		    html = htmlDecode('@Model.religionsModel.Notable_figures');
		    $('#Notable_figures').append(html);
		};

		function setNotesBody() {
		    html = htmlDecode('@Model.religionsModel.Notes');
		    $('#Notes').append(html);
		};

		function setObligationsBody() {
		    html = htmlDecode('@Model.religionsModel.Obligations');
		    $('#Obligations').append(html);
		};

		function setOrigin_storyBody() {
		    html = htmlDecode('@Model.religionsModel.Origin_story');
		    $('#Origin_story').append(html);
		};

		function setOther_NamesBody() {
		    html = htmlDecode('@Model.religionsModel.Other_Names');
		    $('#Other_Names').append(html);
		};

		function setPlaces_of_worshipBody() {
		    html = htmlDecode('@Model.religionsModel.Places_of_worship');
		    $('#Places_of_worship').append(html);
		};

		function setPracticing_locationsBody() {
		    html = htmlDecode('@Model.religionsModel.Practicing_locations');
		    $('#Practicing_locations').append(html);
		};

		function setPracticing_racesBody() {
		    html = htmlDecode('@Model.religionsModel.Practicing_races');
		    $('#Practicing_races').append(html);
		};

		function setPrivate_notesBody() {
		    html = htmlDecode('@Model.religionsModel.Private_notes');
		    $('#Private_notes').append(html);
		};

		function setPropheciesBody() {
		    html = htmlDecode('@Model.religionsModel.Prophecies');
		    $('#Prophecies').append(html);
		};

		function setRitualsBody() {
		    html = htmlDecode('@Model.religionsModel.Rituals');
		    $('#Rituals').append(html);
		};

		function setTagsBody() {
		    html = htmlDecode('@Model.religionsModel.Tags');
		    $('#Tags').append(html);
		};

		function setTeachingsBody() {
		    html = htmlDecode('@Model.religionsModel.Teachings');
		    $('#Teachings').append(html);
		};

		function setTraditionsBody() {
		    html = htmlDecode('@Model.religionsModel.Traditions');
		    $('#Traditions').append(html);
		};

		function setUniverseBody() {
		    $('#religionsModel_Universe').val('@Model.religionsModel.Universe');
		};

		function setVision_of_paradiseBody() {
		    html = htmlDecode('@Model.religionsModel.Vision_of_paradise');
		    $('#Vision_of_paradise').append(html);
		};

		function setWorship_servicesBody() {
		    html = htmlDecode('@Model.religionsModel.Worship_services');
		    $('#Worship_services').append(html);
		};



        $(document).ready(function () {
			setArtifactsBody();
			setDeitiesBody();
			setDescriptionBody();
			setHolidaysBody();
			setInitiation_processBody();
			setNameBody();
			setNotable_figuresBody();
			setNotesBody();
			setObligationsBody();
			setOrigin_storyBody();
			setOther_NamesBody();
			setPlaces_of_worshipBody();
			setPracticing_locationsBody();
			setPracticing_racesBody();
			setPrivate_notesBody();
			setPropheciesBody();
			setRitualsBody();
			setTagsBody();
			setTeachingsBody();
			setTraditionsBody();
			setVision_of_paradiseBody();
			setWorship_servicesBody();

        });

    </script>
}