@model My.World.Web.ViewModel.FoldersViewModel

<div class="modal-header">
    <h4 class="modal-title">Edit @Model.FoldersModel.title</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
    <form asp-action="EditFolder">
        <div class="form-group">
            <label asp-for="@Model.FoldersModel.title" class="control-label"></label>
            <input asp-for="@Model.FoldersModel.title" class="form-control" />
            <span asp-validation-for="@Model.FoldersModel.title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.FoldersModel.parent_folder_id" class="control-label"></label>
            <select id="ddlFolderList" class="form-control col-md-8" asp-for="@Model.FoldersModel.parent_folder_id" style="min-width:150px"
                    asp-items="@(new SelectList(@Model.FoldersList, "id", "title", Model.FoldersModel.parent_folder_id))" onchange="ParentFolderSelected(@Model.FoldersModel.parent_folder_id);">
            </select>
        </div>
        <div class="form-group">
            <button class="btn waves-effect waves-light text-danger" type="button"
                    onclick="@("window.location.href='" + @Url.Action("Delete","Folder", new { Id = @Model.FoldersModel.id}) + "'");">
                Delete Folder
            </button>
        </div>
        <input type="hidden" value="@Model.FoldersModel.id" name="folderId"/>
        <div class="form-group" style="float:right;">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Update Folder" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="modal-footer">
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
